<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow users="?" />
        </authorization>
    </system.web>
    <system.net>
        <mailSettings>
            <smtp from="">
                <network defaultCredentials="false" host="" password="" userName="" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
